<div class="row">
  <div class="col-md-10"><p></p></div>
  <div class="col-md-1">
    <%= current_user.email%>
  </div>
  <div class="col-md-1">
    <%= link_to "sign out", destroy_user_session_path, class: "btn btn-primary", method: :delete %><br>
  </div>
</div>

<h1> SIMPLE TODO LISTS</h1>
<h3> FROM RUBY GARAGE</h3>
<% @projects.each do |project|%>
  <div class="row">
    <div class="col-md-2"><p></p></div>
    <div class="col-md-8">
      <article class="panel panel-primary">
        <div class="panel-heading">
          <div class="row">

            <div class="col-md-1">
              <%= image_tag("calendar.png", size: "33") %>
            </div>

            <%= form_for project, :method => :PUT do |f| %>
              <div class="col-md-9">
                <%= f.text_field :name, :value => project.name, class: "transparent_edit"%>
              </div>
              <div class="col-md-1">
                <%= f.submit "", :type => :image, :src => "ic_edit_white_24dp_1x.png"%>
              </div>
            <% end%>

            <div class="col-md-1">
              <%= form_for project, :method => :DELETE do |f| %>
                <%= f.submit "", :type => :image, :src => "ic_delete_white_24dp_1x.png" %>
              <% end%>
            </div>

          </div>
        </div>
        
        <div class="panel-body">
          <div class="row">

            <div class="col-md-1">
              <%= image_tag("plus.png", size: "33") %>
            </div>

            <%= form_for :task, :url => { :action => "create", :controller=>"tasks" } do |task| %>
              <%= task.hidden_field :project_id, value: project.id %>
              <div class="col-md-9">
                <%= task.text_field :name, class: "form-control font_size" %>
              </div>
              <div class="col-md-2">
                <%= task.submit "Add Task", class: "btn btn-success"%>
              </div>
            <% end %>

          </div>
        </div>

        <% project.tasks.sort.each do |task|%>
          <div class="panel-footer">
            <div class="row">

              <div class="col-md-1">
                <% if task.status == 2%>

                  <%= form_for task, :method => :PUT do |f| %>
                    <%= f.hidden_field :status, value:  1%>
                    <%= f.submit "", :type => :image, :src => "ic_check_box_black_24dp_1x.png" %>
                  <% end%>

                <% else%>

                  <%= form_for task, :method => :PUT do |f| %>
                    <%= f.hidden_field :status, value:  2%>
                    <%= f.submit "", :type => :image, :src => "ic_check_box_outline_blank_black_24dp_1x.png" %>
                  <% end%>

                <% end%>
              </div>

              <%= form_for task, :method => :PUT do |f| %>
                <div class="col-md-9">
                  <%= f.text_field :name, :value => task.name, class: "transparent_edit"%>
                </div>
                <div class="col-md-1">
                  <%= f.submit "", :type => :image, :src => "ic_create_black_24dp_1x.png" %>
                </div>
              <% end%>

              <div class="col-md-1">
                <%= form_for task, :method => :DELETE do |f| %>
                  <%= f.submit "", :type => :image, :src => "ic_delete_black_24dp_1x.png" %>
                <% end%>
              </div>

            </div>
          </div>
        <% end%>
        
      </article>
    </div>
  </div>
<% end%>

<br>
<div class="row">
  <div class="col-md-4"><p></p></div>
  <%= form_for :project, :url => { :action => "create", :controller=>"projects" } do |project| %>
    <div class="col-md-4 ">
    <%= project.text_field :name, class: "form-control font_size" %><br />
    <%= project.submit "Add TODO List", class: "btn btn-primary font_size"%>
    </div>
  <% end %>
</div>
